/**
 *	@author Botez Costin
 *	@version 1.0
 */

.center {
	text-align: center;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    padding: 0 5%;
}

footer p {
	float: right;
}

.btn-group-vertical {
	width: 100%;
}

.logo {
    margin-top: 50px;
    position: relative;
}

.title {
    margin-bottom: 50px;
}

.professors-table.col-md-7,
.majors-table.col-md-7,
.classrooms-table.col-md-7,
.courses-table.col-md-7,
.groups-table.col-md-7 {
    height: 500px;
    overflow: scroll;
}

.container.home .col-md-5,
.container.home .col-md-11 {
    border: 1px solid;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.container.home .col-md-4 .col-md-8,
.container.majors .col-md-4 .col-md-8,
.container.professors .col-md-4 .col-md-8,
.container.classrooms .col-md-4 .col-md-8,
.container.groups .col-md-4 .col-md-8,
.container.courses .col-md-4 .col-md-8,
.container.settings .col-md-4 .col-md-8,
.container.constraints .col-md-4 .col-md-8,
.container.schedule .col-md-4 .col-md-8,
.container.classes .col-md-4 .col-md-8  {
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

span[class*="fa-"] {
    font-size: 50px;
    display: block;
    font-family: FontAwesome;
}

a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

a.search-choice-close {
    left: auto;
}

label {
    margin-top: 10px;
}

[class*="col-md-"] {
    padding-left: 0;
    padding-right: 0;
}

[class*="col-md-"].settings,
[class*="col-md-"].info,
.container.settings .col-md-4 .col-md-8 {
    transition: 0.5s ease;
}

[class*="col-md-"].settings:hover,
[class*="col-md-"].info:hover,
.container.settings .col-md-4 .col-md-8:hover {
    background-color: #f5f5f5;
}

.container.professors .col-md-4 .col-md-8,
[class*="col-md-"].professor {
    color: #3c763d;
    border-color: #d6e9c6;
    transition: 0.5s ease;
}

.container.professors .col-md-4 .col-md-8:hover,
[class*="col-md-"].professor:hover {
    background-color: #dff0d8;
}

.container.groups .col-md-4 .col-md-8,
[class*="col-md-"].groups {
    color: #8a6d3b;
    border-color: #faebcc;
    transition: 0.5s ease;
}

.container.groups .col-md-4 .col-md-8:hover,
[class*="col-md-"].groups:hover {
    background-color: #fcf8e3;
}

.container.courses .col-md-4 .col-md-8,
[class*="col-md-"].courses {
    color: #337ab7;
    border-color: #337ab7;
    transition: 0.5s ease;
}

.container.courses .col-md-4 .col-md-8:hover,
[class*="col-md-"].courses:hover {
    background-color: #337ab7;
    color: #fff;
}

.container.classes .col-md-4 .col-md-8,
[class*="col-md-"].classes {
    border-color: #563d7c !important;
    color: #563d7c;
    transition: 0.5s ease;
}

.container.classes .col-md-4 .col-md-8:hover,
[class*="col-md-"].classes:hover {
    background-color: #563d7c;
    color: #fff;
}

.panel-classes>.panel-heading {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.panel-classes {
    border-color: #563d7c;
}

.container.constraints .col-md-4 .col-md-8,
[class*="col-md-"].constraints {
    color: #a94442;
    border-color: #ebccd1;
    transition: 0.5s ease;
}

.container.constraints .col-md-4 .col-md-8:hover,
[class*="col-md-"].constraints:hover {
    background-color: #f2dede;
}

.container.classrooms .col-md-4 .col-md-8,
[class*="col-md-"].classrooms {
    color: #31708f;
    border-color: #bce8f1;
}

.container.classrooms .col-md-4 .col-md-8:hover,
[class*="col-md-"].classrooms:hover {
    background-color: #d9edf7;
}

.clear {
    clear: both;
}

.contraints-form {
    overflow: auto;
}

.contraints-form .table {
    margin-bottom: 0;
}
td[class^="constraint_"] > * {
    display: none;
}
.contraints-form select.form-control {
    width: auto;
}

button.glyphicon {
    height: 100%;
    border: none;
    background: inherit;
    padding-left: 0;
    padding-right: 0;
}

.glyphicon-plus-sign:before {
    font-size: 20px;
}

.chosen-container-single .chosen-single span {
    background: #fff;
    color: #aaa;
    height: 100%;
    line-height: 34px;
    font-weight: 400;
    border-radius: 0;
    padding-left: 3px;
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    background: #fff;
    height: 34px;
}

.classes-table .panel-body {
    min-height: 170px;
}

.panel.panel-classes.col-md-3 {
    width: 24% !important;
    margin-right: 1.25%;
}

.classes-table .col-md-3:nth-child(4n) {
    margin-right: 0;
}